.rmBtn {
  background: transparent;
  border: none;
  color: tomato;
  margin-left: 5px;
  transition: 0.5s;
}

.rmBtn:enabled:hover {
  background: transparent;
  border: none;
  color: tomato;
}

.adBtn {
  transition: 0.5s;
}

/* .adBtn {
  background: transparent;
  color: blue;
  border: 1px solid transparent;
}

.adBtn:enabled:hover {
  background: aliceblue;
  color: blue;
  border: 1px solid transparent;
  height: 40px;
} */


::ng-deep .p-label-active {
    text-decoration: line-through !important;
  }


  .panel{    
    padding-left: 50px !important;
    padding-right: 50px !important;
  }


  :host ::ng-deep .p-label-active {
    text-decoration: line-through !important;
  }