.rmBtn {
  background: transparent;
  border: none;
  color: tomato;
  margin-left: 5px;
  transition: 0.5s;
}

.rmBtn:enabled:hover {
  background: transparent;
  border: none;
  color: tomato;
}

.adBtn {
  transition: 0.5s;
}

.panel {
  padding-left: 50px !important;
  padding-right: 50px !important;
}


:host ::ng-deep .p-label-active {
  text-decoration: line-through !important;
  color: red !important;
}