

.rmBtn {
    background: transparent; 
    border: none; 
    color: tomato
}


.rmBtn:enabled:hover {
    background: transparent; 
    border: none; 
    color: tomato
}

.adBtn{
    background: transparent; 
    color: blue;
    border: 1px solid transparent;
}


.adBtn:enabled:hover{
    background:aliceblue; 
    color: blue;
    border: 1px solid transparent;
    height: 40px;
}

.newtask{
    border: none;  
    font-size: 18px;
    margin-left: 0%;
    padding-left: 0%;
}


#a:checked + #b {
    text-decoration: line-through;
}
