<p-confirmDialog [style]="{width: '30vw'}" acceptLabel="Ok" rejectLabel="Cancel"></p-confirmDialog>

<div class="p-grid" id="header">

  <div class="p-col-9">
    <input type="text" name="search" [(ngModel)]="param" pInputText placeholder="Quick find" (keyup.enter)="filter()"
      class="searchInput">
  </div>


  <div class="p-col-1">
    <div class="spanTask">

      <img src="assets/img/info.png" height="20" width="20" class="image">
      <span
        style="color:#cd1414;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: 16px;margin-left: 20px;">
        {{number}} tasks
      </span>

    </div>
  </div>

  <div id="rightDiv" class="p-col-2">
    <button pButton pRipple type="button" (click)="confirm()" class="boutoun" label="Clear"
      class="p-button-secondary p-button-text clear" icon="pi pi-check-circle">
    </button>
  </div>


</div>

<div class="ui-g ui-g-nopad">
  <div class="ui-g-2 ui-g-nopad" id="sidebar">

    <div class="p-grid appTitle">
      <div class="unselectable p-col-4">
        <img src="assets/img/check.svg" height="42" width="42">
      </div>
      <div class="p-col-8" style="margin-top: 8px;">to do</div>

    </div>

    <p-menu [model]="items" styleClass="menu"></p-menu>

  </div>

  <div id="main" class="ui-g-10 ui-g-nopad" style="margin:  25px 0 0 10px">
    <router-outlet></router-outlet>
  </div>

</div>


<div class="ui-g ui-g-nopad" id="footer">

  <div id="copyright">
    <span>Bilal DEKAR © 2021</span>
  </div>
</div>