#body {
  height: 500px;
}

#side-menu {
  padding-top: 16px;
}

#content-body {
  padding-top: 55px;
  position: absolute;
  left: 250px;
}

:host >>> .ui-menu {
  width: 250px;
}

:host >>> .ui-menubar {
  border: 0px none transparent;
}

.spanTask {
  font-size: 14px;
  -webkit-transition: background-color 0.2s, box-shadow 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s;
  height: 50;
  margin-left: 50px;
  margin-right: 40px;
  position: relative;
  height: 24px;
  width: 45px;
}
.image {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.boutoun {
  margin-left: 0.25em;
  position: inherit;
  float: right;
  background-color: #F4F4F4;
}
.searchDiv {
  margin-top: 20px;
  margin-left: 450px;
  width: 800px;
}
.searchInput {
  width: 440px;
}

